.container {
  background: url(../../assets/img/Activities/create.jpg) no-repeat 50% 50%
    #10101099;
  background-size: 100%;
  object-fit: cover;
  z-index: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.form_container {
  margin: auto;
  margin-top: 1%;
  background: #000000aa;
  backdrop-filter: blur(4px);
  width: 60%;
  height: 84%;
  border: 4px solid #ffffff55;
  border-radius: 40px;
  box-shadow: 0px 0px 20px 0px #000000 inset;
  font-size: 20px;
  text-shadow: 0px 0px 20px #000000;
  overflow: hidden;
}

.title {
  top: 0;
  margin-left: 26%;
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 1%;
}

.inner_form {
  float: left;
  margin: 8% 0 1% 1%;
  background: none;
  width: 45%;
  height: 70vh;
  padding-left: 10%;
  padding-right: 10%;
  border-right: 4px solid #ffffff55;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  overflow: hidden;
}

.form_field {
  padding-bottom: 16%;
}

.difficulty_field,
.duration_field {
  padding-bottom: 8.5%;
}

.search_bar {
  margin-top: 2%;
  margin-bottom: 0.3%;
  background-color: #ddd0;
  border-width: 0 0 2px 0;
  color: #ffffffcc;
}

.search_bar :focus {
  border-bottom: 2px solid #fff;
  outline: none;
}

label {
  font-size: 26px;
}

.activity_name :focus {
  border-bottom: 2px solid #fff;
}

.name {
  text-decoration: underline;
}

input {
  margin-bottom: -3%;
}

select {
  border-radius: 20px;
  background: #ddd;
}

.err_msg {
  width: 200%;
  margin: auto;
  margin-top: -2%;
  margin-bottom: 4%;
  position: absolute;
  font-weight: bold;
}

.error {
  margin: auto;
  width: 40%;
  margin-left: -4%;
  margin-top: 1%;
  color: #f00;
  text-shadow: 0px 0px 20px #000000;
  font-weight: bold;
  position: absolute;
}

.noError {
  margin: auto;
  color: #0000;
  position: absolute;
}

.cards_container {
  position: absolute;
  float: right;
  margin-left: 99.5%;
  width: 30%;
  min-height: 83%;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  font-size: 22px;
  font-weight: bold;
  overflow: scroll;
}

.card {
  background: #00000077;
  backdrop-filter: blur(4px);
  top: 0;
  margin: 10px;
  width: 40%;
  height: 25%;
  border: 4px solid #ffffff55;
  border-radius: 40px;
  box-shadow: 0px 0px 20px 0px #000000 inset;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.footer {
  position: absolute;
  border-top: 2px solid #777;
  width: 32.2%;
  height: 10%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.reset,
.create {
  font-size: 25px;
}

.reset:hover,
.create:hover {
  color: #000000;
  text-shadow: 0px 0px 10px #ffffff;
  transition: 0.5s;
}

button {
  font-size: 20px;
}

input:focus,
select:focus,
button:focus {
  outline: none;
}

input:hover,
select:hover,
button:hover {
  cursor: pointer;
}
