.container {
  margin: auto;
  margin-left: 2vw;
  margin-top: 18px;
  width: 96%;
  min-width: 1000px;
  height: 84vh;
  min-height: 400px;
  overflow: visible;
}

.menu_container {
  width: 25%;
  min-width: 400px;
  margin: auto;
  margin-left: 34%;
  margin-top: -5%;
  position: relative;
  z-index: 9999999;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu_container button {
  font-size: 28px;
  margin: auto;
}

.active {
  color: #777;
}

button:hover {
  color: #888888ff;
  color: #000000;
  text-shadow: 0px 0px 10px #ffffff;
  transition: 0.5s;
}

.about_container {
  overflow: scroll;
  height: 95.5%;
  width: 80%;
  margin: auto;
  margin-top: 2.9%;
  padding: 1%;
  border: 4px solid white;
  border-radius: 40px;
  background: #000000aa;
  backdrop-filter: blur(4px);
  border: 4px solid #ffffff55;
}
