.container {
  background: url(../assets/img/Compressed/error404.jpg) no-repeat 50% 50%
    #10101099;
  object-fit: cover;
  z-index: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  box-shadow: -50px -50px 25px 25px #00000044 inset;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error_container {
  margin: auto;
  background: #000000bb;
  backdrop-filter: blur(4px);
  width: 580px;
  min-width: 580px;
  height: 390px;
  min-height: 390px;
  border: 4px solid #ffffff55;
  border-radius: 40px;
  box-shadow: 0px 0px 20px 0px #000000 inset;
  text-shadow: 0px 0px 20px #000000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  font-size: 30px;
}

.error_description {
  font-size: 25px;
  margin-top: -2vh;
}

.button {
  position: absolute;
  width: 172px;
  min-width: 172px;
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.button :hover {
  box-shadow: 0px 0px 10px 0px #fff;
  transition: 0.5s;
}

.inner_button {
  font-size: 25px;
  width: 130%;
  text-align: center;
  text-shadow: 0px 0px 10px #000;
  border: 2px solid #ffffff55;
  border-radius: 40px;
  padding: 5%;
  margin-left: -12%;
  border-radius: 40px;
}

.inner_button :hover {
  color: #ffffffbb;
  font-size: 40px;
  text-shadow: 0px 0px 20px #000000;
  border: 2px solid #ffffff55;
  box-shadow: 0px 0px 20px 0px #ffffffbb;
  transition: 0.5s;
  z-index: 9999999999;
}
