body {
  background-image: url(../assets/img/Landing/dariusz-sankowski-3OiYMgDKJ6k-unsplash.jpg);
}

button {
  content: center;
  color: #222;
  background-color: #6666;
  border: none;
  border-radius: 20px;
  padding: 20px;
}
