* {
  font-family: "Handlee", cursive;
  text-decoration: none;
  color: #ffffffcc;
}

*:link {
  color: #ffffffcc;
}

*:visited {
  color: #ffffffcc;
}

.nav {
  padding: 1.5%;
  background: #00000077;
  backdrop-filter: blur(4px);
  border-bottom: 4px solid #ffffff55;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1) inset;
}

h1 {
  display: inline;
  font-size: 30px;
}

.h1_button {
  background: none;
  border: none;
  text-shadow: 0px 0px 10px #000000;
}

.h1_button :hover {
  color: #000000;
  text-shadow: 0px 0px 10px #ffffff;
  transition: 0.3s;
}

.nav_buttons {
  float: right;
  margin-top: 0.4%;
  margin-right: 1%;
  display: flex;
}

.nav_button {
  margin-right: 50px;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px #000000;
}

.active,
.nav_buttons :hover {
  color: #000000;
  text-shadow: 0px 0px 10px #ffffff;
  transition: 0.3s;
}

button {
  font-weight: bold;
  background: none;
  border: none;
}
